*{
  margin:0;
  padding:0;
}

.App{
  display:flex;
  justify-content:left;

}

.blog-cont{
  background-color: bisque;
  width:900px;
  border:2px solid black;
  margin:10px;
  border-radius: 20px;
  padding: 10px;
}

.section1{
background-color: rgb(51, 32, 31);
color:rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: baseline;
margin-bottom: 10px;
}

.section1 .title{
  padding:0px 30px;
  font-size: 50px;
}

.section .cby{
  background-color: bisque;
  color:rgb(98, 77, 66);
  font-family:"italic";
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 5px;
  
}

hr{
  margin:20px 0px;
  width:400px;
  border: none;
  border-top: 3px solid rgb(98, 77, 66);
  display: block;
  margin: auto;

}
  
.ssection2{
  display: flex;
  margin-top: 20px;
}

.section img{
  width:200px;
  height: fit-content;
  padding:10px 0px;
  align-items: center;
}

.section2{
  display:flex;
}

.section3{
  display:flex;
  justify-content:flex-end;
}

.section3 p{
  background-color: bisque;
  font-weight: 600;
  color:white;
  padding:5px;
  border-radius: 10px;
  margin-top:10px;
}

.editblog-form{
  position: fixed;
  top:0px;
  background-color: white;
  margin:10px;
  padding: 10px;
  width:500px;
  border-radius: 10px;
  border:3px solid black;
  display:flex;
  flex-direction: column;
  align-items:center;


}

.editblog-form p{
  font-size:40px;
  font-weight:600;
  color:white;
}

.editblog-form form{
  display:flex;
  flex-direction:column;
  width:100%;
} 

.editblog-form form input{
  background-color: white;
  font-size:15px;
  padding:10px;
  border-radius: 10px;
  border:3px solid black;
}

.editblog-form form textarea{
  background-color: white;
  font-size:15px;
  padding:10px;
  border-radius: 10px;
  border:3px solid black;
}


.btn-container{
  display:flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.btn-container button{
  
}
